body {
    display: flex;
    background-color: bisque;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: row;  
    height: 100%;
    background-color: bisque;
}

.pricing-container {
    display: flex;
    gap: 20px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pricing-plan {
    background-color: azure;
    justify-content: center;
    align-items: center;
    padding: 20px;    
    border-radius: 10px;
}

button {
    position: relative;
    top: 10px;
    border-radius: 3px;
   
}

ul {
    display: inline-block;
}

.plan-button {
    background-color: orange;
    color: white;
    font-size:medium;
}

@media (max-width: 1250px) {
    .pricing-container {
       display: flex;
       flex-direction: column;
       position: absolute;
    }
    
    button {
        position: relative;
        right: 50%;
        transform: translate(-50%);
       
    }

}